  .footer {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white for better contrast */
    height: 280px;
    padding: 20px 10px;
  }


  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white for better contrast */
    border-radius: 20px;
    color: #333;
    height: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

.footer-section-1 {
  flex: 1;
  margin: 0 100px;
}
.footer-section-2 {
  flex: 1;
  margin: 0 20px;
}
.footer-section-3 {
  flex: 1;
  margin: 0 20px;
}

.footer-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-link {
  font-size: 16px;
  color: #3a3a3a;
  line-height: 20px;
  display: inline-block;
}

.footer-text {
  margin: 5px 0;
}

.footer-icon {
  display: inline-block;
  margin-top: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 8px;
}

.insta-icon{
  width: 40px;
  height: 40px;
  margin: 8px;
}