/* src/pages/AdminLectureHalls.css */
.admin-lecture-halls-container {
    margin-top: 1000px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .tabs .active {
    background-color: #007bff;
    color: white;
  }
  
  .admin-lecture-halls-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .lecture-hall-card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .lecture-hall-card h2 {
    margin-bottom: 10px;
  }
  
  .lecture-hall-card p {
    margin: 5px 0;
  }

  .lecture-hall-image {
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
    margin: 0;
    /*border-bottom: 4px solid #007bff;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
  }
  
  