/* src/pages/AdminLabs.css */

  .admin-labs-page {
    background-image: url("../assets/bgimg.png");
    background-size: cover; /* Ensure the background image covers the area */
  }

  .admin-labs-page-container {
    margin-top: 50px;
    padding: 50px;
  }
  
  .admin-labs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
  }
  
  .admin-lab-card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .admin-lab-card h3 {
    margin: 0 0 10px;
  }
  
  .admin-lab-card p {
    margin: 5px 0;
  }

  .admin-lab-image {
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
    margin: 0;
    /*border-bottom: 4px solid #007bff;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
  }
  
  .admin-labs-slideshow {
    position: relative;
    width: 100%;
    height: calc(90vh - 150px);
    overflow: hidden;
  }
  
  .admin-lab-images {
    display: flex;
    transition: transform 1s ease; /* Smooth sliding transition */
    width: 100%; /* Ensure it takes full width */
  }
  
  .admin-lab-image {
    min-width: 100%; /* Ensure each image takes the full width of the slideshow */
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
  }