.admin-calendar-page {
    margin-top: 180px;
    padding: 20px;
    background-image: url("../assets/bgimg.png");
    width: 1000px;
  }
  
  .admin-calendar-content {
    max-width: 800px;
    margin: 0 auto; /* Center the content */
    background-color: white; /* Card-like appearance */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    padding: 20px;
  }

  .admin-calendar-page h1 {
    text-align: center;
    color: #333; /* Darker text for readability */
  }

  .admin-calendar-selected-date {
    text-align: center;
    margin-top: 100px;
    font-size: 1.2em;
  }

  .admin-calendar-reservation-card {
    background-color: #ffffff; /* Light blue background for reservation cards */
    border: 1px solid #c6d4e0; /* Light border */
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: box-shadow 0.3s; /* Smooth hover effect */
    margin-left: 25%;
    margin-bottom: 10px;
  }
  
  .admin-calendar-reservation-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .admin-calendar-reservation-card h4 {
    margin: 0; /* Remove default margin */
    color: #000000; /* Highlight the room title */
  }

  .admin-calendar-reservation-card p {
    margin: 5px 0; /* Space between paragraphs */
    color: #555; /* Slightly lighter text color */
  }