.admin-notice-board-container{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../assets/bgimg.png");
    background-size: cover; /* Ensure the background image covers the area */
}