/* src/pages/AdminLecturerPage.css */
.admin-lecturer-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.adlec-content {
  margin-left: 200px; /* Adjust based on sidebar width */
  padding: 20px;
}

.adlec-form {
  display: flex;
  flex-direction: column;
}

.adlec-label {
  margin: 10px 0 5px; /* Spacing around labels */
  color: #555; /* Gray label color */
}

input, select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.adlec-button {
  padding: 10px;
  background-color: #0099CC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.adlec-button:hover {
  background-color: #006699; /* Darker shade on hover */
}

