/* src/pages/Labs.css */
  .lec-labs-container {
    margin-top: 400px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
  }
    
  .lec-labs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .lec-lab-card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .lec-lab-card h3 {
    margin: 0 0 10px;
  }
  
  .lec-lab-card p {
    margin: 5px 0;
  }

  .lec-lab-image {
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
    margin: 0;
    /*border-bottom: 4px solid #007bff;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
  }


  