/* src/pages/LectureHalls.css */
.lecture-halls-container {
  margin-top: 400px;
  padding: 100px;
  background-color: #fff;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
}

.tabs button.active {
  background-color: #0099CC;
  color: #fff;
}

.lecture-halls-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create a 4-column grid */
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust row height */
  gap: 20px; /* Space between the cards */
}

.lecture-hall-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lecture-hall-card h2 {
  margin-top: 0;
}

.lecture-hall-card p {
  margin: 8px 0;
}

.lecture-hall-image {
  width: 100%;
  height: calc(100vh - 150px);
  object-fit: cover;
  margin: 0;
  /*border-bottom: 4px solid #007bff;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;
}

