/* ProfilePage.css */
/*body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}*/

.profile-page {
    margin-top: 20px;
    padding: 20px;
    background-image: url("../assets/bgimg.png");
    background-size: cover; /* Ensure the background image covers the area */
}

.profile-container {
    display: flex;              /* Enable flexbox */
    flex-direction: column;     /* Align items in a column */
    align-items: center;
    width: 600px;
    margin: 100px auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white for better contrast */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.profile-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.profile-info-section {
    display: flex;              /* Enable flexbox */
    flex-direction: column;     /* Align items in a column */
    align-items: center;
    background-color: #fff;
    width: 500px;
    margin: 10px auto;
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-container p {
    /*text-align: center;*/
    margin: 5px 0;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

.profile-info-section p {
    /*text-align: center;*/
    margin: 5px 0;
    font-size: 16px;
    color: #555;
    font-weight: normal;
}

/* ProfilePage.css */
.profile-logout-button {
    padding: 10px 15px;
    background-color: #cc0000; /* Red background for logout */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px; /* Space from profile info section */
    font-size: 16px;
  }
  
  .profile-logout-button:hover {
    background-color: #b71c1c; /* Darker red on hover */
  }
  

/*strong {
    color: #007BFF; 
}*/

.profile-image {
    width: 150px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Makes the image circular */
    }

@media (max-width: 768px) {
    .profile-container {
        padding: 15px;
    }

    p {
        font-size: 14px;
    }
}
